.about-section {
    background-color: var(--light);
}

.about-section p {
    font-size: 1rem;
    margin: 0 20vw 0 20vw;
    padding: 0 0 15px 0;
    min-width: 200px;
}

.about-section h1 {
    font-size: 2rem;
}

.headshot {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 220px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}