.about-section {
    background-color: var(--dark);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.about-banner {
    width: 100%;
    max-width: 800px; /* adjust as needed */
    display: block;
    margin: 20px auto;
    overflow: hidden;
}

.about-text {
    margin-bottom: 15px;
    background-color: var(--light);
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
    max-width: 800px; /* adjust as needed */
    text-align: center;
}

.about-section h1 {
  color: var(--light);
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.about-section h2 {
    border-bottom: 3px solid var(--pop);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin: 20px 0;
}

.headshot {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 220px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}

.centered {
    text-align: center;
}
