@import '../../App.css';

.contact-section {
    padding: 0 0 20px 0;
}

.contact-section h1 {
    font-size: 2rem;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align:left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--light);
    border-radius: 4px;
    resize: vertical;
}

.error-message {
    color: var(--error);
    margin-top: 10px;
}

.submit-button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block; 
    transition: all 250ms linear;
}

.submit-button:hover {
    box-shadow: 100 10 100px black;
    background-color: var(--gray);
}