h1,
h2,
h3,
h4 {
    text-align: center;
}

p {
    font-size: 1rem;
    margin-left: 20vw;
    margin-right: 20vw;
    min-width: 200px;
}

.page-content {
    padding-right: 1rem;
    padding-left: 1rem;
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5em;
    width: 25%;
    min-width: 170px;
}