@import '../../App.css';


h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
    margin: 0;
    padding: 15px
}

p {
    font-size: 1rem;
    margin: 0 20vw 0 20vw; 
    padding: 0 0 15px 0;
    min-width: 200px;
}

section {
    box-shadow: 0 0px 6px rgba(0, 0, 0, .5);
    width: 100vw;
}

.page-content {
    /* padding-right: 1rem;
    padding-left: 1rem; */
}

