@import '../../App.css';

.header {
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative; 

    @media (max-width: 768px) {
        flex-direction: column;
    }
}