.header {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative; 

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.header h1 {
    margin: 0;
    padding: 1rem 0;
    font-size: 2.5em;
}

.banner-img {
    width: 100vw;
    height: auto;
    max-height: 150px;
    object-fit: cover; /* Ensures the image covers the container without stretching */
}

.logo {
    height: 10vh;
    max-height:  75px;
    margin: 5px;
    position: absolute;
    left: 5px;
    top: 5px;
}

@media (max-width: 768px) {
    .logo {
        position: static; /* Changes position to static to allow normal flow */
        margin-bottom: 10px; /* Adds margin to the bottom to separate logo from title */
    }
}
