@import '../../App.css';

section.resume-section {
    background-color: var(--dark);
}

.resume-section {
    background-color: var(--dark);
    padding: 15px;
}

.resume-section h1 {
    color: var(--light);
    font-size: 2em;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.proficiencies {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    color: var(--light);
}
.proficiency-list {
    margin: 10px;
    padding: 5px 35px;
    border: 3px solid var(--pop);
    background-color: var(--dark);
    box-shadow: 0 5px 6px rgba(0, 0, 0, .5);
}
.proficiency-list ul {
    padding: 0;
}
.proficiency-list h3 {
    margin-top: 0;
}

.resume-content {
    color: var(--dark);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: var(--gray);
    box-shadow: 0 0px 6px rgba(0, 0, 0, .5);
    border: 3px solid var(--pop);
}

.resume-content a {
    color: var(--dark);
    text-decoration: none;
}

.resume-content a:hover {
    text-decoration: underline;
}

.resume-content h1, .resume-content h2, .resume-content h3,
.resume-content h4, .resume-content h5, .resume-content h6 {
    margin: 15px 0;
    color: var(--dark);
}

.resume-content h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.resume-content h2 {
    font-size: 1.5em;
    padding-bottom: .75em;
    border-bottom: .3em solid var(--dark);
}

.resume-content h3 {
    font-size: 1em;
    padding: 1em .25em .25em;
    font-weight: bold;
}

.resume-content h4 {
    font-size: 1.25em;
    padding-bottom: .5em;
}

.resume-content h5 {
    font-size: 1em;
}

.resume-content h6 {
    font-size: .75em;
}

.resume-content p, .resume-content ul {
    margin: 0 0 5px;
    line-height: 1.5;
}

.resume-content ul {
    padding-left: 20px;
}

.resume-content ul li {
    list-style-type: disc;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
}

.job-title .location {
    white-space: nowrap;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin: 10px;
}

.download-button {
    margin: 0 10px 0px 20px ;
    padding: 10px 20px;
    background-color: var(--cta);
    color: var(--light);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s linear;
    transform: translateY(-5px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
}

.download-button:hover {
    background-color: var(--gray);
    color: var(--dark);
}

.education {
    padding: 0;
    margin: 0;
}
.education li {
    list-style: none !important;
    margin: 0;
    padding: 1px;
    line-height: 1.2; 
    transform: translateX(-15px);
}