:root {
  --lapis-lazuli: #346184;
  --eerie-black: #151C1C;
  --bistre: #3A2523;
  --french-gray: #C9C0C6;
  --gray: #7D8181;
  --columbia-blue: #BEE1F3;
  --paynes-gray: #476D85;
  --liver: #66463B;
  --chestnut: #A24E36;
  --timberwolf: #D3D6D6;
  --error: red;
}

/* :root {
  --dark: #212A31;
  --gray: #2E3944;
  --blue: #124E66;
  --livid: #748D92;
  --light: #D3D9D4;
} */

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  margin: 0;
  padding: 15px
}

.portfolio-section h1, 
.about-section h1,
.contact-section h1  {
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.centered {
  text-align: center;
}

.page-content {
  padding: 0 0 20px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}

section.page-content {
  background-color: var(--french-gray);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}