@import '../../App.css';
.nav-container {
    padding: 20px 0 20px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 100vw
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: bold;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: var(--dark);
    padding: 10px 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--blue);

}

.active .nav-link {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
    background-color: var(--light);
}
