@import '../../App.css';

.nav-container {
    margin: 20px 0 0 0;
    background-color: var(--dark);
    padding: 25px 0 0 0;
    width: 100%;
    transition: all 0.3s ease;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, .2);
    background-color: var(--dark);
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 10;
    height: 115px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--pop);
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: var(--light);
    padding: 10px 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--pop);
}

.active .nav-link {
    border: solid 2px var(--pop);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
}

.logo {
    height: 100px;
    margin: 5px;
    position: fixed;
    left: 10px;
    top: 2px;
    border-radius: 50%;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, .5);
    z-index: 15;
    transition: all 0.3s ease;
}

.banner-img {
    width: 100%;
    height: auto;
    max-height: 170px;
    object-fit: cover;
    margin: 65px 0 0 0;
    box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
    border-top: 2px solid var(--pop);
    border-bottom: 2px solid var(--pop);
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-list {
        font-size: 1em;
        height: 85px;
    }
    .nav-item {
        margin: 0 10px;
    }
    .logo {
        height: 65px;
        top: 6px;
        left: 4px;
    }
    .banner-img {
        margin: 35px 0 0 0;
    }
}

@media (max-width: 480px) {
    .nav-list {
        align-items: center;
        height: 75px;
    }
    .nav-item {
        margin: 10px 0;
    }
    .logo {
        height: 55px;
        top: 6px;
        left: 4px;
    }
    .banner-img {
        margin: 25px 0 0 0;
    }
}

@media (max-width: 400px) {
    .nav-list {
        justify-content: center;
    }
    .nav-item:last-child {
        margin-right: 0%;
    }
    .logo {
        left: -100px
    }
}
